<div class = "project">
    <div class = 'project-info'>
        <h3>{{name}}</h3>
        <p>{{description}}</p>
        <p>{{date_created}}</p>
    </div>
    <div>
        <h3>Needs ${{needed_funding}} in donations</h3>
        <p>{{user.name}}</p>
    </div>

</div>